{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.
{plugins, [
    {rebar3_gpb_plugin, "1.11.7"}]}.
{deps, [{gpb, "~> 3.23"}]}.

{gpb_opts, [
    %% gpb_opts per Hex spec:
    {verify, always},
    {strings_as_binaries, true},
    {maps, true},
    {maps_unset_optional, omitted},
    {report_warnings, true},
    {target_erlang_version, 18},

    %% other opts
    {i, "priv/pb"},
    {module_name_prefix, "hex_pb_"},
    typespecs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.
